$font-icons-family-name: "IconsFont";
@font-face {
	font-family: "IconsFont";
	src: url('../fonts/IconsFont.eot');
	src: url('../fonts/IconsFont.eot?#iefix') format('eot'),
		url('../fonts/IconsFont.woff2') format('woff2'),
		url('../fonts/IconsFont.woff') format('woff'),
		url('../fonts/IconsFont.ttf') format('truetype'),
		url('../fonts/IconsFont.svg#IconsFont') format('svg');
}

@mixin icon-styles {
	font-family: "IconsFont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

$icon-name-check: "\E001"; 
$icon-name-flag: "\E002"; 
$icon-name-happy: "\E003"; 
$icon-name-heart: "\E004"; 
$icon-name-mail: "\E005"; 
$icon-name-message: "\E006"; 
$icon-name-mobile: "\E007"; 


@function icon-char($filename) {
	$char: "";

	@if $filename == check {
		$char: "\E001";
	}
	@if $filename == flag {
		$char: "\E002";
	}
	@if $filename == happy {
		$char: "\E003";
	}
	@if $filename == heart {
		$char: "\E004";
	}
	@if $filename == mail {
		$char: "\E005";
	}
	@if $filename == message {
		$char: "\E006";
	}
	@if $filename == mobile {
		$char: "\E007";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-check {
	@include icon(check);
}
.icon-flag {
	@include icon(flag);
}
.icon-happy {
	@include icon(happy);
}
.icon-heart {
	@include icon(heart);
}
.icon-mail {
	@include icon(mail);
}
.icon-message {
	@include icon(message);
}
.icon-mobile {
	@include icon(mobile);
}
