.fw-medium {
    font-weight: $font-weight-medium;
}

.text-secondary {
    color: $gray!important;
}

.rounded-1 {
    border-radius: $border-radius!important;
}

.rounded-2 {
    border-radius: $border-radius-sm!important;
}

.rounded-3 {
    border-radius: $border-radius-md!important;
}

.rounded-4 {
    border-radius: $border-radius-lg!important;
}

.shadow-sm {
    box-shadow: $box-shadow!important;
}

.shadow {
    box-shadow: $box-shadow-sm!important;
}

.shadow-lg {
    box-shadow: $box-shadow-md!important;
}

.filter-shadow {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.bg-danger-gradient {
    background: $gradient;
}

.w-31 {
    width: 1.938rem;
}

.h-31 {
    height: 1.938rem;
}

.w-56 {
    width: 3.5rem;
}

.h-56 {
    height: 3.5rem;
}

.w-79 {
    width: 4.938rem;
}

.h-79 {
    height: 4.938rem;
}

textarea {
    resize: none;
}

@include media-breakpoint-down(md) {
    .fs-2 {
        font-size: 2rem!important;
    }
    .fs-3 {
        font-size: 1.688rem!important;
    }
    .fs-6 {
        font-size: .75rem!important;
    }
    .fs-7 {
        font-size: .75rem!important;
    }
    .w-56 {
        width: 2.313rem;
    }
    .h-56 {
        height: 2.313rem;
    }
    .w-79 {
        width: 3rem;
    }
    .h-79 {
        height: 3rem;
    }
    .rounded-2 {
        border-radius: .313rem!important;
    }
    .rounded-3 {
        border-radius: .625rem!important;
    }
    .rounded-4 {
        border-radius: .688rem!important;
    }
}

@include media-breakpoint-down(md) {
    .pt-15 {
        padding-top: 0;
    }
}

@include media-breakpoint-up(xxxxl) {
    .fs-6 {
        font-size: 1.5rem!important;
    }
    .fs-7 {
        font-size: 1.25rem!important;
    }
}
