.btn-danger {
    color: $white;
    &:focus,
    &:hover {
        box-shadow: 0px 4px 4px rgba(255, 83, 70, 0.2);
        color: $white;
        background-color: $red;
    }
}

@include media-breakpoint-down(sm) {
    .btn-link {
        font-size: .688rem;
    }
}
