.card {
    .card-title {
        font-weight: $font-weight-medium;
        font-size: .938rem;
        color: $black;
    }
    .card-text {
        font-size: .813rem;
        line-height: 1rem;
        color: $blue-174;
    }
}

@include media-breakpoint-down(md) {
    .card {
        .card-body {
            padding: .813rem;
        }
        .card-title {
            font-size: .625rem;
        }
        .card-text {
            font-size: .5rem;
            line-height: .75rem;
        }
    }
}
