.card {
    .card-body {
        .card-title {
            font-weight: $font-weight-medium;
            font-size: .938rem;
            color: $black;
            @include media-breakpoint-down(md) {
                font-size: .625rem;
            }
            @include media-breakpoint-up(xxxl) {
                font-size: 1.625rem;
            }
        }
        .card-text {
            font-size: .813rem;
            line-height: 1rem;
            color: $blue-174;
            @include media-breakpoint-down(md) {
                font-size: .5rem;
                line-height: .75rem;
            }
            @include media-breakpoint-up(xxxl) {
                font-size: 1.25rem;
                line-height: 1.5rem;
            }
        }
        @include media-breakpoint-down(md) {
            padding: .813rem;
        }
    }
}
