.card {
    .card-title {
        font-weight: $font-weight-medium;
        font-size: .938rem;
        color: $black;
    }
    .card-text {
        font-size: .813rem;
        line-height: 1rem;
        color: $blue-174;
    }
}
