.form-control {
    border-radius: $border-radius!important;
    border: 5px solid $white!important;
    background-color: $light-248!important;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-left: 0!important;
    &::placeholder {
        font-style: italic;
        color: $silver;
        @include media-breakpoint-up(xxl) {
            font-size: .875rem;
        }
    }
    &:focus {
        box-shadow: none;
        border-color: transparent;
    }
    @include media-breakpoint-up(xxl) {
        font-size: .875rem;
        padding: .5rem .5rem;
    }
}

.input-group-text {
    position: relative;
    border-radius: $border-radius!important;
    border: 5px solid $white!important;
    background-color: $light-248!important;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-right: 0!important;
    &::after {
        content: "";
        display: inline;
        width: .1rem;
        height: 1.75rem;
        background-color: $light-gray;
        border-radius: .188rem;
        position: absolute;
        top: .438rem;
        right: 0;
    }
    @include media-breakpoint-up(xxl) {
        padding: .5rem .5rem;
    }
}

.striped-form {
    .form-label {
        font-size: 1rem;
        color: $blue-88;
        margin-bottom: 0;
    }
    .form-control {
        background-color: transparent;
        border-bottom: 1px solid $blue-88;
        border-radius: 0;
        &:focus {
            box-shadow: none;
        }
    }
}

.invalid-feedback {
    font-weight: 500;
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
    box-shadow: none;
}

@include media-breakpoint-down(md) {
    .form-control {
        border: none;
        &::placeholder {
            font-size: .688rem;
        }
    }
    .striped-form {
        .form-label {
            font-size: .688rem;
        }
        .form-control {
            padding: .125rem 0;
        }
        .btn-danger {
            font-size: .688rem;
            padding-top: .375rem;
            padding-bottom: .375rem;
            border-radius: .188rem;
        }
    }
}
